In [1]:
# Miscellaneous operating system interfaces
import os

# JSON encoder and decoder
import json

# Basic date and time types
from datetime import datetime, date, timedelta

# The fundamental package for scientific computing with Python.
import numpy as np

# Flexible and powerful data analysis / manipulation library for Python, providing labeled data structures similar to R data.frame objects, statistical functions, and much more
import pandas as pd

# Set the absolute directory path.
BASE_PATH = os.path.abspath('')
dirs = os.path.dirname(BASE_PATH)
DATA_PATH = os.path.join(dirs, 'datasets')

In [2]:
# 도로명주소_건물DB
df1 = pd.read_csv(os.path.join(DATA_PATH, 'juso.go.kr', '도로명주소_건물DB_202012.csv'),
    encoding='utf-8',
)
df1.head()

   시군구코드          시군구_x         시군구_y
0  11110  954859.306142  1.953755e+06
1  11140  955931.027850  1.951526e+06
2  11170  954122.014984  1.948855e+06
3  11200  959571.250766  1.950601e+06
4  11215  963032.466631  1.949996e+06

In [3]:
# 행정구역_시군구_별__성별_인구수_좌표
df2 = pd.read_csv(os.path.join(DATA_PATH, 'kosis.kr', '행정구역_시군구_별__성별_인구수_20201202115401.csv'),
    encoding='utf-8',
    usecols=['시도명','시도코드','시군구명','시군구코드'],
)
df2.head()

     시도명  시도코드 시군구명  시군구코드
0  서울특별시    11  종로구  11110
1  서울특별시    11   중구  11140
2  서울특별시    11  용산구  11170
3  서울특별시    11  성동구  11200
4  서울특별시    11  광진구  11215

In [4]:
df = pd.merge(df1, df2, on='시군구코드', how='left')
df = df[['시도명', '시도코드', '시군구명', '시군구코드', '시군구_x', '시군구_y']]

df.to_csv(os.path.join(DATA_PATH, '행정구역_시군구_별__좌표_20201202.csv'), index=False)
df.head()

     시도명  시도코드 시군구명  시군구코드          시군구_x         시군구_y
0  서울특별시    11  종로구  11110  954859.306142  1.953755e+06
1  서울특별시    11   중구  11140  955931.027850  1.951526e+06
2  서울특별시    11  용산구  11170  954122.014984  1.948855e+06
3  서울특별시    11  성동구  11200  959571.250766  1.950601e+06
4  서울특별시    11  광진구  11215  963032.466631  1.949996e+06